@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoond41d.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.ttf') format('truetype'),
		url('fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="i-"] {
*/
.i-number, .i-number-2, .i-number-3, .i-number-4, .i-number-5, .i-number-6, .i-number-7, .i-number-8, .i-number-9, .i-tag, .i-tag-2, .i-link, .i-link-2, .i-cabinet, .i-cabinet-2, .i-calendar, .i-calendar-2, .i-file, .i-file-2, .i-file-3, .i-phone, .i-tablet, .i-window, .i-monitor, .i-ipod, .i-camera, .i-camera-2, .i-film, .i-film-2, .i-microphone, .i-inbox, .i-download, .i-upload, .i-inbox-2, .i-checkmark, .i-cancel, .i-plus, .i-minus, .i-notice, .i-cog, .i-cogs, .i-cog-2, .i-warning, .i-picture, .i-pictures, .i-pictures-2, .i-alarm-clock, .i-time, .i-checkmark-2, .i-cancel-2, .i-site-map, .i-site-map-2, .i-cloud, .i-upload-2, .i-chart, .i-chart-2, .i-chart-3, .i-chart-4, .i-chart-5, .i-chart-6, .i-location, .i-download-2, .i-phone-2, .i-phone-3, .i-trashcan, .i-locked, .i-unlocked, .i-magnifier, .i-zoom-in, .i-zoom-out, .i-battery, .i-battery-2, .i-battery-3, .i-battery-4, .i-battery-5, .i-cube, .i-box, .i-box-2, .i-grid, .i-grid-2, .i-list, .i-list-2, .i-layout, .i-layout-2, .i-layout-3, .i-layout-4, .i-layout-5, .i-layout-6, .i-layout-7, .i-layout-8, .i-layout-9, .i-layout-10, .i-layout-11, .i-layout-12, .i-layout-13, .i-layout-14, .i-tools, .i-screwdriver, .i-chat, .i-comments, .i-chat-2, .i-chat-3, .i-volume, .i-volume-2, .i-volume-3, .i-resize, .i-resize-2, .i-stretch, .i-narrow, .i-download-3, .i-stats, .i-stats-2, .i-pencil, .i-pen, .i-pin, .i-pin-2, .i-profile, .i-profile-2, .i-profile-3, .i-rotate, .i-rotate-2, .i-reply, .i-forward, .i-retweet, .i-shuffle, .i-loop, .i-dollar, .i-dollar-2, .i-coins, .i-bookmark, .i-bookmark-2, .i-address-book, .i-address-book-2, .i-envelope, .i-envelope-2, .i-music, .i-male, .i-female, .i-heart, .i-info, .i-info-2, .i-expand, .i-collapse, .i-pop-out, .i-pop-in, .i-checked, .i-error, .i-add, .i-minus-2, .i-printer, .i-tags, .i-switch, .i-play, .i-pause, .i-record, .i-stop, .i-next, .i-previous, .i-first, .i-last, .i-arrow-left, .i-arrow-down, .i-arrow-up, .i-arrow-right, .i-arrow-left-2, .i-arrow-down-2, .i-arrow-up-2, .i-arrow-right-2, .i-arrow-left-3, .i-arrow-down-3, .i-arrow-up-3, .i-arrow-right-3, .i-arrow-left-4, .i-arrow-down-4, .i-arrow-up-4, .i-arrow-right-4, .i-arrow-left-5, .i-arrow-down-5, .i-arrow-up-5, .i-untitled, .i-arrow-right-5, .i-arrow-left-6, .i-arrow-down-6, .i-arrow-up-6, .i-arrow-right-6, .i-arrow-left-7, .i-arrow-down-7, .i-arrow-up-7, .i-arrow-right-7, .i-menu, .i-ellipsis, .i-dots, .i-dot, .i-cog-3, .i-plus-2, .i-minus-3, .i-earth, .i-cycle, .i-cw, .i-ccw, .i-shuffle-2, .i-number-10, .i-folder, .i-basket, .i-paperplane, .i-mail, .i-pencil-2, .i-user, .i-users, .i-user-add, .i-export, .i-location-2, .i-map, .i-compass, .i-location-3, .i-heart-2, .i-heart-3, .i-star, .i-star-2, .i-thumbs-up, .i-thumbs-down, .i-chat-4, .i-comment, .i-cart, .i-checkmark-3, .i-cross, .i-minus-4, .i-plus-3, .i-cross-2, .i-minus-5, .i-plus-4, .i-cross-3, .i-arrow-left-8, .i-arrow-down-8, .i-arrow-up--upload {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.i-number:before {
	content: "\e001";
}
.i-number-2:before {
	content: "\e002";
}
.i-number-3:before {
	content: "\e003";
}
.i-number-4:before {
	content: "\e004";
}
.i-number-5:before {
	content: "\e005";
}
.i-number-6:before {
	content: "\e006";
}
.i-number-7:before {
	content: "\e007";
}
.i-number-8:before {
	content: "\e008";
}
.i-number-9:before {
	content: "\e009";
}
.i-tag:before {
	content: "\e00a";
}
.i-tag-2:before {
	content: "\e00b";
}
.i-link:before {
	content: "\e00c";
}
.i-link-2:before {
	content: "\e00d";
}
.i-cabinet:before {
	content: "\e00e";
}
.i-cabinet-2:before {
	content: "\e00f";
}
.i-calendar:before {
	content: "\e010";
}
.i-calendar-2:before {
	content: "\e011";
}
.i-file:before {
	content: "\e012";
}
.i-file-2:before {
	content: "\e013";
}
.i-file-3:before {
	content: "\e014";
}
.i-phone:before {
	content: "\e015";
}
.i-tablet:before {
	content: "\e016";
}
.i-window:before {
	content: "\e017";
}
.i-monitor:before {
	content: "\e018";
}
.i-ipod:before {
	content: "\e019";
}
.i-camera:before {
	content: "\e01a";
}
.i-camera-2:before {
	content: "\e01b";
}
.i-film:before {
	content: "\e01c";
}
.i-film-2:before {
	content: "\e01d";
}
.i-microphone:before {
	content: "\e01e";
}
.i-inbox:before {
	content: "\e01f";
}
.i-download:before {
	content: "\e020";
}
.i-upload:before {
	content: "\e021";
}
.i-inbox-2:before {
	content: "\e022";
}
.i-checkmark:before {
	content: "\e023";
}
.i-cancel:before {
	content: "\e024";
}
.i-plus:before {
	content: "\e025";
}
.i-minus:before {
	content: "\e026";
}
.i-notice:before {
	content: "\e027";
}
.i-cog:before {
	content: "\e028";
}
.i-cogs:before {
	content: "\e029";
}
.i-cog-2:before {
	content: "\e02a";
}
.i-warning:before {
	content: "\e02b";
}
.i-picture:before {
	content: "\e02c";
}
.i-pictures:before {
	content: "\e02d";
}
.i-pictures-2:before {
	content: "\e02e";
}
.i-alarm-clock:before {
	content: "\e02f";
}
.i-time:before {
	content: "\e030";
}
.i-checkmark-2:before {
	content: "\e031";
}
.i-cancel-2:before {
	content: "\e032";
}
.i-site-map:before {
	content: "\e033";
}
.i-site-map-2:before {
	content: "\e034";
}
.i-cloud:before {
	content: "\e035";
}
.i-upload-2:before {
	content: "\e036";
}
.i-chart:before {
	content: "\e037";
}
.i-chart-2:before {
	content: "\e038";
}
.i-chart-3:before {
	content: "\e039";
}
.i-chart-4:before {
	content: "\e03a";
}
.i-chart-5:before {
	content: "\e03b";
}
.i-chart-6:before {
	content: "\e03c";
}
.i-location:before {
	content: "\e03d";
}
.i-download-2:before {
	content: "\e03e";
}
.i-phone-2:before {
	content: "\e03f";
}
.i-phone-3:before {
	content: "\e040";
}
.i-trashcan:before {
	content: "\e041";
}
.i-locked:before {
	content: "\e042";
}
.i-unlocked:before {
	content: "\e043";
}
.i-magnifier:before {
	content: "\e044";
}
.i-zoom-in:before {
	content: "\e045";
}
.i-zoom-out:before {
	content: "\e046";
}
.i-battery:before {
	content: "\e047";
}
.i-battery-2:before {
	content: "\e048";
}
.i-battery-3:before {
	content: "\e049";
}
.i-battery-4:before {
	content: "\e04a";
}
.i-battery-5:before {
	content: "\e04b";
}
.i-cube:before {
	content: "\e04c";
}
.i-box:before {
	content: "\e04d";
}
.i-box-2:before {
	content: "\e04e";
}
.i-grid:before {
	content: "\e04f";
}
.i-grid-2:before {
	content: "\e050";
}
.i-list:before {
	content: "\e051";
}
.i-list-2:before {
	content: "\e052";
}
.i-layout:before {
	content: "\e053";
}
.i-layout-2:before {
	content: "\e054";
}
.i-layout-3:before {
	content: "\e055";
}
.i-layout-4:before {
	content: "\e056";
}
.i-layout-5:before {
	content: "\e057";
}
.i-layout-6:before {
	content: "\e058";
}
.i-layout-7:before {
	content: "\e059";
}
.i-layout-8:before {
	content: "\e05a";
}
.i-layout-9:before {
	content: "\e05b";
}
.i-layout-10:before {
	content: "\e05c";
}
.i-layout-11:before {
	content: "\e05d";
}
.i-layout-12:before {
	content: "\e05e";
}
.i-layout-13:before {
	content: "\e05f";
}
.i-layout-14:before {
	content: "\e060";
}
.i-tools:before {
	content: "\e061";
}
.i-screwdriver:before {
	content: "\e062";
}
.i-chat:before {
	content: "\e063";
}
.i-comments:before {
	content: "\e064";
}
.i-chat-2:before {
	content: "\e065";
}
.i-chat-3:before {
	content: "\e066";
}
.i-volume:before {
	content: "\e067";
}
.i-volume-2:before {
	content: "\e068";
}
.i-volume-3:before {
	content: "\e069";
}
.i-resize:before {
	content: "\e06a";
}
.i-resize-2:before {
	content: "\e06b";
}
.i-stretch:before {
	content: "\e06c";
}
.i-narrow:before {
	content: "\e06d";
}
.i-download-3:before {
	content: "\e06e";
}
.i-stats:before {
	content: "\e06f";
}
.i-stats-2:before {
	content: "\e070";
}
.i-pencil:before {
	content: "\e071";
}
.i-pen:before {
	content: "\e072";
}
.i-pin:before {
	content: "\e073";
}
.i-pin-2:before {
	content: "\e074";
}
.i-profile:before {
	content: "\e075";
}
.i-profile-2:before {
	content: "\e076";
}
.i-profile-3:before {
	content: "\e077";
}
.i-rotate:before {
	content: "\e078";
}
.i-rotate-2:before {
	content: "\e079";
}
.i-reply:before {
	content: "\e07a";
}
.i-forward:before {
	content: "\e07b";
}
.i-retweet:before {
	content: "\e07c";
}
.i-shuffle:before {
	content: "\e07d";
}
.i-loop:before {
	content: "\e07e";
}
.i-dollar:before {
	content: "\e07f";
}
.i-dollar-2:before {
	content: "\e080";
}
.i-coins:before {
	content: "\e081";
}
.i-bookmark:before {
	content: "\e082";
}
.i-bookmark-2:before {
	content: "\e083";
}
.i-address-book:before {
	content: "\e084";
}
.i-address-book-2:before {
	content: "\e085";
}
.i-envelope:before {
	content: "\e086";
}
.i-envelope-2:before {
	content: "\e087";
}
.i-music:before {
	content: "\e088";
}
.i-male:before {
	content: "\e089";
}
.i-female:before {
	content: "\e08a";
}
.i-heart:before {
	content: "\e08b";
}
.i-info:before {
	content: "\e08c";
}
.i-info-2:before {
	content: "\e08d";
}
.i-expand:before {
	content: "\e08e";
}
.i-collapse:before {
	content: "\e08f";
}
.i-pop-out:before {
	content: "\e090";
}
.i-pop-in:before {
	content: "\e091";
}
.i-checked:before {
	content: "\e092";
}
.i-error:before {
	content: "\e093";
}
.i-add:before {
	content: "\e094";
}
.i-minus-2:before {
	content: "\e095";
}
.i-printer:before {
	content: "\e096";
}
.i-tags:before {
	content: "\e097";
}
.i-switch:before {
	content: "\e098";
}
.i-play:before {
	content: "\e099";
}
.i-pause:before {
	content: "\e09a";
}
.i-record:before {
	content: "\e09b";
}
.i-stop:before {
	content: "\e09c";
}
.i-next:before {
	content: "\e09d";
}
.i-previous:before {
	content: "\e09e";
}
.i-first:before {
	content: "\e09f";
}
.i-last:before {
	content: "\e0a0";
}
.i-arrow-left:before {
	content: "\e0a1";
}
.i-arrow-down:before {
	content: "\e0a2";
}
.i-arrow-up:before {
	content: "\e0a3";
}
.i-arrow-right:before {
	content: "\e0a4";
}
.i-arrow-left-2:before {
	content: "\e0a5";
}
.i-arrow-down-2:before {
	content: "\e0a6";
}
.i-arrow-up-2:before {
	content: "\e0a7";
}
.i-arrow-right-2:before {
	content: "\e0a8";
}
.i-arrow-left-3:before {
	content: "\e0a9";
}
.i-arrow-down-3:before {
	content: "\e0aa";
}
.i-arrow-up-3:before {
	content: "\e0ab";
}
.i-arrow-right-3:before {
	content: "\e0ac";
}
.i-arrow-left-4:before {
	content: "\e0ad";
}
.i-arrow-down-4:before {
	content: "\e0ae";
}
.i-arrow-up-4:before {
	content: "\e0af";
}
.i-arrow-right-4:before {
	content: "\e0b0";
}
.i-arrow-left-5:before {
	content: "\e0b1";
}
.i-arrow-down-5:before {
	content: "\e0b2";
}
.i-arrow-up-5:before {
	content: "\e0b3";
}
.i-untitled:before {
	content: "\e0b4";
}
.i-arrow-right-5:before {
	content: "\e0b5";
}
.i-arrow-left-6:before {
	content: "\e0b6";
}
.i-arrow-down-6:before {
	content: "\e0b7";
}
.i-arrow-up-6:before {
	content: "\e0b8";
}
.i-arrow-right-6:before {
	content: "\e0b9";
}
.i-arrow-left-7:before {
	content: "\e0ba";
}
.i-arrow-down-7:before {
	content: "\e0bb";
}
.i-arrow-up-7:before {
	content: "\e0bc";
}
.i-arrow-right-7:before {
	content: "\e0bd";
}
.i-menu:before {
	content: "\e0be";
}
.i-ellipsis:before {
	content: "\e0bf";
}
.i-dots:before {
	content: "\e0c0";
}
.i-dot:before {
	content: "\e0c1";
}
.i-cog-3:before {
	content: "\e0c2";
}
.i-plus-2:before {
	content: "\e0c3";
}
.i-minus-3:before {
	content: "\e0c4";
}
.i-earth:before {
	content: "\e0c5";
}
.i-cycle:before {
	content: "\e000";
}
.i-cw:before {
	content: "\e0c6";
}
.i-ccw:before {
	content: "\e0c7";
}
.i-shuffle-2:before {
	content: "\e0c8";
}
.i-number-10:before {
	content: "\e0c9";
}
.i-folder:before {
	content: "\e0ca";
}
.i-basket:before {
	content: "\e0cb";
}
.i-paperplane:before {
	content: "\e0cc";
}
.i-mail:before {
	content: "\e0cd";
}
.i-pencil-2:before {
	content: "\e0ce";
}
.i-user:before {
	content: "\e0cf";
}
.i-users:before {
	content: "\e0d0";
}
.i-user-add:before {
	content: "\e0d1";
}
.i-export:before {
	content: "\e0d2";
}
.i-location-2:before {
	content: "\e0d3";
}
.i-map:before {
	content: "\e0d4";
}
.i-compass:before {
	content: "\e0d5";
}
.i-location-3:before {
	content: "\e0d6";
}
.i-heart-2:before {
	content: "\e0d7";
}
.i-heart-3:before {
	content: "\e0d8";
}
.i-star:before {
	content: "\e0d9";
}
.i-star-2:before {
	content: "\e0da";
}
.i-thumbs-up:before {
	content: "\e0db";
}
.i-thumbs-down:before {
	content: "\e0dc";
}
.i-chat-4:before {
	content: "\e0dd";
}
.i-comment:before {
	content: "\e0de";
}
.i-cart:before {
	content: "\e0df";
}
.i-checkmark-3:before {
	content: "\e0e0";
}
.i-cross:before {
	content: "\e0e1";
}
.i-minus-4:before {
	content: "\e0e2";
}
.i-plus-3:before {
	content: "\e0e3";
}
.i-cross-2:before {
	content: "\e0e4";
}
.i-minus-5:before {
	content: "\e0e5";
}
.i-plus-4:before {
	content: "\e0e6";
}
.i-cross-3:before {
	content: "\e0e7";
}
.i-arrow-left-8:before {
	content: "\e0e8";
}
.i-arrow-down-8:before {
	content: "\e0e9";
}
.i-arrow-up--upload:before {
	content: "\e0ea";
}
