
<h1>Add new post</h1>
{% if form %}
<form action="{% url 'edcs_vac083:DemographicCreate' %}"  method="post">
      {% csrf_token %}
      {{ form.as_p }}
<button class="button" type="submit">Submit</button>
</form>
{% if form1 %}
<form action="{% url 'edcs_vac083:edcs_vac083_screening' %}"  method="post">
      {% csrf_token %}
      {{ form1.as_p }}
<button class="button" type="submit">Submit</button>
</form>
{% if form2 %}

<form action="{% url 'edcs_vac083:edcs_vac083_screening' %}"  method="post">
      {% csrf_token %}
      {{ form2.as_p }}
<button class="button" type="submit">Submit</button>
</form>
{% endif %}

{% endif %}

{% endif %}


<p><a href="{% url 'edcs_vac083:DemographicView' %}">Go Back<a/></p>

