.ms-container{  
  background: transparent url('../../img/multiselect/switch.png') no-repeat 165px 50%;
  margin-bottom: 5px;
}

.ms-container:after{
  content: "."; display: block; height: 0; line-height: 0; font-size: 0; clear: both; min-height: 0; visibility: hidden;
}

.ms-container .ms-selectable, .ms-container .ms-selection{
  background: #fff;
  color: #555555;
  float: left;
}

.ms-container .ms-list{  
  border: 1px solid #C0CAD5;  
}


.ms-selected{
  display:none;
}
.ms-container .ms-selectable{
  margin-right: 28px;
}

.ms-container .ms-list.ms-focus{
  border-color: #b0bac4;  
  outline: 0;  
}

.ms-container ul{
  margin: 0;
  list-style-type: none;
  padding: 0;
}

.ms-container .ms-optgroup-container{
  width: 100%;
}

.ms-container ul.ms-list{
  width: 160px;
  height: 150px;
  padding: 0;
  overflow-y: auto;
}

.ms-container .ms-optgroup-label{
  margin: 0;
  padding: 5px 0px 0px 5px;
  cursor: pointer;
  color: #999;
}

.ms-container .ms-selectable li.ms-elem-selectable,
.ms-container .ms-selection li.ms-elem-selection{
  border-bottom: 1px #eee solid;
  padding: 2px 10px;
  color: #555;
  font-size: 11px;
}

.ms-container .ms-selectable li.ms-hover,
.ms-container .ms-selection li.ms-hover{
  cursor: pointer;  
  text-decoration: none;
  background-color: #f2f6f9;
}

.ms-container .ms-selectable li.disabled,
.ms-container .ms-selection li.disabled{
  background-color: #eee;
  color: #aaa;
  cursor: text;
}
.ms-header,.ms-footer{background: #F0F1F2; border: 1px solid #C0CAD5; font-size: 11px; line-height: 20px; padding: 3px 5px;}
.ms-header{border-bottom: 0px;}
.ms-footer{border-top: 0px;}